body {
    background-color: cornflowerblue;
}

h1 {
    text-align: center;
    color: burlywood;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 1rem;
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    padding: 1rem;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem;
}

button {
    justify-content: center;
    padding: 1rem;
    text-align: center;
}

input {
    padding: 1rem;
    height: 2rem;
}